* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

#canvas {
  border:2px solid black !important;
}
.canvas-container-default:hover {
  cursor: url('./edit_FILL0_wght400_GRAD0_opsz48.svg') 0 20, auto;
}
.canvas-container:hover {
 cursor: url('./ink_eraser_FILL0_wght400_GRAD0_opsz48.svg') 0 20, auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


